@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bodoni";
  font-weight: normal;
  src: url(./bodoni.ttf) format("ttf");
}

@font-face {
  font-family: "Bodoni";
  font-weight: 700;
  src: url(./bodoni-bold.ttf) format("ttf");
}

@layer utilities {
  .animation-delay-1000 {
    animation-delay: 1000ms;
  }
  .animation-delay-1500 {
    animation-delay: 1500ms;
  }
  .animation-delay-2000 {
    animation-delay: 2200ms;
  }
}
